# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- list popular languages in Data Science
- list commonly used libraries in Data Science
- list development environments used by Data Scientists
- provide examples of arithmetic using Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Julia
6. Java
7. C++

Some of the commonly used libraries used by Data Scientists include:
1. NumPy (Python)
2. SciPy (Python)
3. pandas (Python)
4. Matplotlib (Python)
5. TensorFlow (Python)
6. Scikit-learn (Python)
7. Keras (Python)
8. ggplot2 (R)
9. caret (R)
10. dplyr (R)

| Data Science Tools|
| ----------------- |
| Jupyter Notebooks |
| RStudio | 
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
nhours = minutes/60
print(nhours)

3.3333333333333335

## Author
Tina Lin